:root {
  --white: white;
  --black: black;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 1435px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.navbar-logo-center {
  background-color: #000;
}

.navbar-logo-center-container {
  z-index: 5;
  background-color: #0000;
  width: 1030px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.navbar-logo-center-container.shadow-three {
  width: 100%;
  max-width: 1140px;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper-three {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.navbar-brand-three {
  z-index: 5;
  align-self: center;
  position: absolute;
}

.nav-menu-wrapper-three {
  width: 100%;
}

.nav-menu-three {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-menu-block {
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-link {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: #1a1b1fbf;
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: #1a1b1fbf;
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-link-accent {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: #1a1b1fbf;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.hero-without-image {
  background-color: #f5f7fa;
  background-image: url('../images/3.png');
  background-position: 50%;
  background-size: cover;
  border-bottom: 0 solid #e4ebf3;
  height: 350px;
  padding: 80px 30px;
  position: relative;
}

.hero-wrapper-two {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.margin-bottom-24px {
  margin-bottom: 24px;
}

.comp-pane {
  width: 45%;
}

.comp-pane.right {
  z-index: 50;
  background-color: #fff;
  border-bottom: 0 solid #000;
  border-radius: 0;
  width: 600px;
  min-width: 600px;
  height: 560px;
  min-height: 350px;
  max-height: 560px;
  margin-top: -5px;
  margin-left: 0;
  padding: 50px;
  position: static;
  box-shadow: -3px 8px 15px 5px #af696994;
}

.form-wrap-2 {
  margin-bottom: 0;
}

.form-field-label {
  z-index: 10;
  background-color: #fff;
  margin-top: -9px;
  margin-left: 10px;
  padding: 1px 10px;
  line-height: 14px;
  display: inline-block;
  position: absolute;
}

.container-25 {
  text-align: center;
}

.field-wrap {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.submit-button-2 {
  text-align: center;
  letter-spacing: 2px;
  cursor: pointer;
  background-color: #0f8f64;
  border-radius: 0;
  width: 185px;
  padding: 12px 25px;
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
}

.submit-button-2:active {
  background-color: #1ee7a4;
}

.form-field {
  z-index: 1;
  background-color: #0000;
  border: 1px solid #dcdcdd;
  height: 50px;
  min-height: 50px;
  max-height: 100px;
  padding-top: 11px;
  position: relative;
}

.form-field:focus {
  border-color: #000;
}

.form-field::placeholder {
  color: #a0a0a0;
}

.form-2 {
  height: 320px;
  margin-top: 47px;
}

.container-26 {
  justify-content: center;
  align-items: flex-start;
  margin-top: -81px;
  display: flex;
}

.heading {
  text-align: center;
  margin-top: -22px;
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  animation: zoomIn 1s ease-in-out;
}

@keyframes zoomIn {
  0% {
      transform: scale(0);
      opacity: 0;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

.hero-without-image-2 {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.body {
  height: 350px;
}

.hero-without-image-3 {
  background-color: #000;
  border-top: 5px solid #ff00005c;
  border-bottom: 0 solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.hero-without-image-4 {
  background-color: #f5f7fa;
  background-image: url('../images/2.jpg');
  background-position: 50% 100%;
  background-size: cover;
  border-bottom: 0 solid #e4ebf3;
  width: auto;
  height: 300px;
  padding: 80px 30px;
  position: relative;
}

.cell, .cell-2 {
  justify-content: center;
  align-items: center;
}

.image, .image-2 {
  max-width: 80%;
}

.image-3 {
  max-width: 50%;
}

.container-27 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-4 {
  max-width: 50%;
}

.navbar-logo-left {
  background-color: #000;
}

.navbar-logo-left-container {
  z-index: 5;
  background-color: #0000;
  width: 1030px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container.shadow-three {
  width: 1400px;
  max-width: 1400px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  width: 940px;
  display: flex;
}

.nav-menu-two {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-divider {
  background-color: #e4ebf3;
  width: 1px;
  height: 22px;
  margin-left: 15px;
  margin-right: 15px;
}

.navbar-no-shadow-container {
  z-index: 5;
  background-color: #0000;
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.container-regular {
  width: 100%;
  max-width: 1260px;
  min-height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper-2 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
}

.nav-link-2 {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-2:hover {
  color: #1a1b1fbf;
}

.nav-link-2:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link-2[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-2 {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle-2 {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle-2:hover {
  color: #1a1b1fbf;
}

.nav-dropdown-toggle-2:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle-2[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon-2 {
  margin-right: 10px;
}

.nav-dropdown-list-2 {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list-2.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link-2 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link-2:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link-2[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-button-wrapper {
  margin-left: 120px;
}

.button-primary-2 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-2:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-2:active {
  background-color: #43464d;
}

.cell-3 {
  justify-content: center;
  align-items: center;
}

.container-28 {
  justify-content: flex-end;
  align-items: center;
  min-width: 350px;
  max-width: 1400px;
  display: flex;
}

.celular-copy {
  flex: 0 auto;
  width: 310px;
  min-width: 127px;
}

.cell-4, .cell-5 {
  justify-content: center;
  align-items: flex-end;
}

.paragraph {
  text-align: center;
  letter-spacing: 1px;
  font-family: Bitter, serif;
}

@media screen and (max-width: 1440px) {
  .comp-pane.right {
    width: 600px;
    min-width: 350px;
    max-width: 600px;
    margin-left: 0;
    height: 520px;
    max-height: 520px;
  }

  .submit-button-2 {
    font-family: Montserrat, sans-serif;
  }

  .form-2 {
    margin-top: 13px;
  }

  .hero-without-image-4 {
    width: 100%;
  }

  .celular-copy {
    width: 320px;
  }
}

@media screen and (max-width: 1435px) {
  .container {
    max-width: 728px;
  }

  .navbar-wrapper-three {
    justify-content: space-between;
  }

  .navbar-brand-three {
    position: relative;
  }

  .nav-menu-wrapper-three {
    background-color: #0000;
    top: 70px;
  }

  .nav-menu-three {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px #0000000d;
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .comp-pane.right {
    width: 600px;
    min-width: 350px;
    max-width: 600px;
    margin-left: 0;
  }

  .hero-without-image-4 {
    width: 100%;
  }

  .image, .image-2 {
    max-width: 80%;
  }

  .navbar-wrapper {
    flex-flow: column;
  }

  .nav-menu-wrapper {
    background-color: #0000;
  }

  .nav-menu-two {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px #0000000d;
  }

  .nav-menu-wrapper-2 {
    background-color: #0000;
  }

  .nav-menu {
    background-color: #fff;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    display: flex;
  }

  .nav-link-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list-2.shadow-three.w--open {
    position: absolute;
  }

  .nav-button-wrapper {
    width: 100%;
    margin-left: 0;
  }

  .menu-button-2 {
    padding: 12px;
  }

  .menu-button-2.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .celular-copy {
    width: 250px;
    max-width: 310px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand-three {
    padding-left: 0;
  }

  .nav-menu-three {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-menu-block {
    flex-direction: column;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px #0000000d;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-link-accent {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .hero-without-image {
    padding: 60px 15px;
  }

  .comp-pane.right {
    width: 400px;
    max-width: 600px;
    height: 580px;
    max-height: 580px;
    margin-top: 0;
  }

  .container-26 {
    margin-top: -59px;
  }

  .hero-without-image-2, .hero-without-image-3, .hero-without-image-4 {
    padding: 60px 15px;
  }

  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-wrapper {
    flex-flow: column;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu-two {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-divider {
    width: 200px;
    max-width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .navbar-brand-2 {
    padding-left: 0;
  }

  .nav-menu {
    flex-direction: column;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .nav-link-2 {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown-2 {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list-2.shadow-three {
    box-shadow: 0 8px 50px #0000000d;
  }

  .nav-dropdown-list-2.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list-2.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .mobile-margin-top-11 {
    margin-top: 10px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: none;
  }

  .nav-menu-three {
    flex-direction: column;
  }

  .quick-stack-6{
    padding: 0;
    position: relative;
    right:  5rem;
    top: 9.3rem;
  }

  .comp-pane.right {
    width: 350px;
    margin-top: -4px;
    padding: 30px 0;
    height: 500px;
    max-height: 500px;
  }

  .form-field-label {
    height: 15px;
  }

  .paragraph{
    width: 310px;
    margin-left: 1.2rem;
  }

  .container-25 {
    margin-top: -16px;
  }

  .field-wrap {
    width: 325px;
    margin-left: 13px;
  }

  .container-26 {
    margin-top: -61px;
  }

  .heading {
    width: 350px;
    font-size: 35px;
  }

  .hero-without-image-4 {
    width: 100%;
    height: 450px;
  }

  .image, .image-2 {
    max-width: 80%;
  }

  .navbar-wrapper {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .nav-menu-two {
    flex-direction: column;
  }

  .image-5 {
    text-align: center;
  }

  .quick-stack {
    grid-column-gap: 67px;
    grid-row-gap: 67px;
    margin-top: 26px;
  }

  .navbar-no-shadow {
    width: 350px;
  }

  .navbar-no-shadow-container {
    margin-left: 0;
    margin-right: 0;
    position: static;
  }

  .navbar-wrapper-2 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-start;
    align-items: flex-end;
    width: 409px;
    max-width: 1140px;
    margin-top: -60px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-right: 20px;
    display: flex;
  }

  .nav-menu {
    flex-direction: column;
  }

  .nav-button-wrapper {
    width: auto;
  }

  .container-28 {
    width: 350px;
    margin-top: -28px;
  }

  .image-6, .web, .web-copy, .celular {
    position: relative;
  }

  .celular-copy {
    width: 90px;
    min-width: 90px;
    max-width: 127px;
    position: relative;
  }
}

#w-node-da39ac18-aac8-8c44-3159-0eaefd34f6be-d30294d2 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-c3075de8-0391-b6bf-0463-476720f83f62-d30294d2 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#w-node-f69fed91-452a-a90e-661f-d46a2551e9b0-d30294d2 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 375px) {
  .quick-stack-6{
    right: 5.8rem;
  }
  .titulo-P2, .subtitulo-P2{
    max-width: 120%;
  }
  .subtitulo-P2{
    position: relative;
    left: 1.2rem;
  }
}

@media screen and (max-width: 335px) {
  .quick-stack-6{
    right: 5rem;
  }
  .comp-pane.right{
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    height: 550px;
    max-height: 550px;
  }
  .heading, .paragraph{
    width: 270px;
    margin-left: 20px;
  }
  .w-input, .field-wrap{
    width: 275px;
  }
}

@media screen and (max-width: 479px) {
  #w-node-f69fed91-452a-a90e-661f-d46a2551e9b0-d30294d2 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
}
