:root {
  --white: var(--black);
  --black: red;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 1350px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 768px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.hero-without-image {
  background-color: #f5f7fa;
  background-image: url('../images/teste2.png');
  background-position: 55%;
  background-size: cover;
  border-bottom: 0 solid #e4ebf3;
  width: 100%;
  height: 700px;
  padding: 80px 30px;
  position: relative;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper-two {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.margin-bottom-24px {
  margin-bottom: 24px;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.body {
  background-color: #000;
  height: 700px;
}

.cell {
  justify-content: center;
  align-items: center;
}

.form {
  background-color: #fff;
  width: 450px;
  height: 600px;
}

.cell-2 {
  justify-content: center;
  align-items: center;
}

.field-label {
  text-align: center;
  padding-top: 30px;
}

.field-label-2, .field-label-3 {
  text-align: center;
}

.text-field {
  width: 450px;
}

.container-22 {
  text-align: center;
}

.submit-button-2 {
  text-align: center;
  letter-spacing: 2px;
  cursor: pointer;
  background-color: #0f8f64;
  border-radius: 0;
  width: 120px;
  padding: 12px 25px;
  font-size: 12px;
  font-weight: 700;
}

.submit-button-2:active {
  background-color: #1ee7a4;
}

.comp-pane {
  width: 45%;
}

.comp-pane.right {
  z-index: 50;
  z-index: 50;
  z-index: 50;
  z-index: 50;
  background-color: #fff;
  border-bottom: 0 solid #000;
  border-radius: 0;
  width: 500px;
  min-width: 500px;
  max-width: 700px;
  height: 520px;
  min-height: 350px;
  max-height: 520px;
  margin-top: -10px;
  margin-left: 0;
  padding: 50px;
  position: static;
  box-shadow: -1px -1px 20px 11px #af6969a1;
}

.form-field-label {
  z-index: 10;
  background-color: #fff;
  margin-top: -9px;
  margin-left: 10px;
  padding: 1px 10px;
  line-height: 14px;
  display: inline-block;
  position: absolute;
}

.heading-11 {
  text-align: center;
  font-size: 32px;
}

.form-field {
  z-index: 1;
  background-color: #0000;
  border: 1px solid #dcdcdd;
  height: 50px;
  min-height: 50px;
  max-height: 100px;
  padding-top: 11px;
  position: relative;
}

.form-field:focus {
  border-color: #000;
}

.form-field::placeholder {
  color: #a0a0a0;
}

.textarea {
  height: 58px;
}

.field-wrap {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.form-wrap {
  margin-top: -41px;
  margin-bottom: 0;
}

.form-2 {
  height: 320px;
  margin-top: -13px;
}

.cell-3 {
  justify-content: center;
  align-items: center;
}

.quick-stack {
  width: 940px;
}

.container-24 {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.container-25 {
  text-align: center;
}

.navbar-logo-left-container {
  z-index: 5;
  background-color: #0000;
  width: 1030px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container.shadow-three {
  width: 100%;
  max-width: 1140px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-26 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu-two {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-link {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: #1a1b1fbf;
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: #1a1b1fbf;
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-divider {
  background-color: #e4ebf3;
  width: 1px;
  height: 22px;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-link-accent {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: #1a1b1fbf;
}

.button-primary-2 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-2:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-2:active {
  background-color: #43464d;
}

.heading-12 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.heading-13 {
  color: #fff;
  text-align: right;
  justify-content: flex-end;
  align-items: center;
  width: 940px;
  font-size: 80px;
  line-height: 80px;
  display: flex;
}

.heading-14 {
  text-align: center;
  font-size: 32px;
}

.form-wrap-2 {
  margin-bottom: 0;
}

.cell-4 {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  justify-content: center;
  align-items: flex-end;
}

.container-28 {
  justify-content: flex-end;
  align-items: center;
  width: 940px;
  display: flex;
}

.cell-5 {
  justify-content: center;
  align-items: flex-end;
}

.quick-stack-2 {
  margin-top: -77px;
}

.hero-subscribe-left {
  background-color: #000;
  border-bottom: 0 solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-30 {
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 940px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.hero-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 46%;
  display: flex;
}

.margin-bottom-24px-2 {
  margin-bottom: 24px;
}

.hero-form {
  margin-bottom: 12px;
}

.hero-form-container {
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.hero-form-input {
  color: #1a1b1f;
  border: 1px solid #d1d6db;
  width: 240px;
  height: auto;
  margin-bottom: 0;
  margin-right: 9px;
  padding: 5px 16px;
  font-size: 14px;
  line-height: 20px;
  transition: all .2s;
}

.hero-form-input:hover, .hero-form-input:focus {
  border-color: #76879d;
}

.hero-form-input::placeholder {
  color: #1a1b1fcc;
}

.button-primary-3 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-3:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-3:active {
  background-color: #43464d;
}

.text-link-arrow {
  color: #1a1b1f;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.arrow-embed {
  margin-left: 2px;
  display: flex;
}

.shadow-two {
  box-shadow: 0 4px 24px #96a3b514;
}

.container-31 {
  text-align: center;
  max-width: 1200px;
}

.cell-6, .cell-7, .cell-8, .cell-9, .cell-10, .cell-11, .cell-12, .cell-13 {
  justify-content: center;
  align-items: center;
}

.heading-15 {
  text-align: center;
}

.container-32 {
  max-width: 1200px;
}

.heading-16 {
  color: #fff;
  text-align: center;
}

.quick-stack-3 {
  margin-top: 50px;
}

.hero-heading-left {
  background-color: #000000ed;
  border-bottom: 0 solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-33 {
  text-align: center;
  max-width: 1200px;
}

.cell-14, .cell-15, .cell-16, .cell-17, .cell-18, .cell-19, .cell-20, .cell-21 {
  justify-content: center;
  align-items: center;
}

.cell-22 {
  justify-content: flex-start;
  align-items: flex-start;
}

.cell-23, .cell-24, .cell-25 {
  justify-content: center;
  align-items: flex-start;
}

.hero-heading-center {
  background-color: #000;
  border-bottom: 0 solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.centered-heading {
  text-align: center;
  margin-bottom: 16px;
}

.centered-heading.margin-bottom-32px {
  margin-bottom: 32px;
}

.paragraph, .paragraph-2, .paragraph-3, .paragraph-4 {
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  font-family: Bitter, serif;
}

.paragraph-5, .paragraph-6, .paragraph-7, .paragraph-8 {
  color: #fff;
  text-align: left;
  letter-spacing: 1px;
  font-family: Bitter, serif;
}

.container-35 {
  text-align: center;
  max-width: 1200px;
}

.heading-18, .heading-19 {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.heading-20 {
  color: var(--white);
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.heading-21 {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.heading-22 {
  font-size: 18px;
}

.heading-23, .heading-24 {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
}

.heading-25 {
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-size: 18px;
}

.heading-26 {
  color: #fff;
  text-align: left;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 28px;
  display: flex;
}

.cell-26, .cell-27, .cell-28, .cell-29, .cell-30 {
  justify-content: center;
  align-items: center;
}

.image, .image-2 {
  max-width: 100%;
}

.paragraph-9 {
  text-align: center;
  letter-spacing: 1px;
  font-family: Bitter, serif;
}

.cell-31 {
  color: #fff;
  justify-content: center;
  align-items: center;
}

.quick-stack-4 {
  margin-top: 50px;
}

.hero-heading-left-2 {
  background-color: #000;
  border-bottom: 0 solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-36 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper-2 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split-2 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 46%;
  display: flex;
}

.margin-bottom-24px-3 {
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 24px;
  font-family: Bitter, serif;
  font-weight: 400;
  line-height: 24px;
}

.button-primary-4 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #0f8f64;
  padding: 12px 25px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-4:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-4:active {
  background-color: #43464d;
}

.shadow-two-2 {
  box-shadow: 0 4px 24px #96a3b514;
}

.heading-28 {
  color: #fff;
  font-family: Montserrat, sans-serif;
}

.text-span, .text-span-2 {
  font-size: 18px;
  font-weight: 700;
}

.image-3 {
  max-width: 50%;
}

.image-4 {
  max-width: 35%;
}

.image-5, .image-6 {
  max-width: 50%;
}

.button {
  text-align: center;
  letter-spacing: 2px;
  background-color: #0f8f64;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

.cell-34 {
  justify-content: center;
  align-items: center;
}

.navbar-no-shadow-container {
  z-index: 5;
  background-color: #0000;
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.container-regular {
  width: 100%;
  max-width: 1260px;
  min-height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper-2 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
}

.nav-link-2 {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-2:hover {
  color: #1a1b1fbf;
}

.nav-link-2:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link-2[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-2 {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle-2 {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle-2:hover {
  color: #1a1b1fbf;
}

.nav-dropdown-toggle-2:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle-2[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon-2 {
  margin-right: 10px;
}

.nav-dropdown-list-2 {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list-2.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link-2 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link-2:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link-2[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-button-wrapper {
  margin-left: 120px;
}

.button-primary-5 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-5:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-5:active {
  background-color: #43464d;
}

.logos-title-large {
  background-image: url('../images/2.jpg');
  background-position: 50% 100%;
  background-size: cover;
  border-bottom: 0 solid #e4ebf3;
  height: 400px;
  padding: 60px 30px;
  position: relative;
}

.container-37 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.clients-title {
  text-align: center;
  font-size: 24px;
  line-height: 32px;
}

.clients-wrapper {
  text-align: center;
  justify-content: space-between;
  align-items: center;
  max-width: 750px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.container-38 {
  text-align: center;
  max-width: 1200px;
  margin-top: 100px;
}

.hero-without-image-2 {
  background-color: #f5f7fa;
  background-image: url('../images/3.png');
  background-position: 50%;
  background-size: cover;
  border-bottom: 0 solid #e4ebf3;
  flex-flow: row;
  height: 350px;
  padding: 80px 30px;
  display: flex;
  position: relative;
}

.container-39 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper-two-2 {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.margin-bottom-24px-4 {
  margin-bottom: 24px;
}

.button-primary-6 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-6:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-6:active {
  background-color: #43464d;
}

.hero-without-image-3 {
  background-color: #000;
  border-top: 5px solid #ff00005c;
  border-bottom: 0 solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.submit-button-3 {
  text-align: center;
  letter-spacing: 2px;
  cursor: pointer;
  background-color: #0f8f64;
  border-radius: 0;
  width: 220px;
  padding: 12px 25px;
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
}

.submit-button-3:active {
  background-color: #1ee7a4;
}

.form-3 {
  height: 320px;
  margin-top: 35px;
}

.field-wrap-2 {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.heading {
  text-align: center;
  width: 400px;
  margin-top: -22px;
  font-family: Montserrat, sans-serif;
  font-size: 35px;
  line-height: 35px;
}

.container-40 {
  justify-content: center;
  align-items: center;
  margin-top: -75px;
  display: flex;
}

.container-41 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  margin-top: 31px;
  display: flex;
  position: relative;
  top: 65px;
}

.cell-35, .cell-36 {
  justify-content: center;
  align-items: center;
}

.image-9, .image-10 {
  max-width: 60%;
}

.image-11, .image-12, .image-13, .image-14 {
  box-shadow: 1px -1px 20px 11px #af6969a1;
}

.image-15 {
  background-color: #fff0;
  width: 33px;
  height: 33px;
}

.navbar-logo-left-container-2 {
  z-index: 5;
  background-color: #0000;
  width: 1030px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container-2.shadow-three {
  width: 100%;
  max-width: 1140px;
  margin-top: -60px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-42 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper-3 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu-two-2 {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-link-3 {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-3:hover {
  color: #1a1b1fbf;
}

.nav-link-3:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link-3[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-3 {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle-3 {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle-3:hover {
  color: #1a1b1fbf;
}

.nav-dropdown-toggle-3:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle-3[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon-3 {
  margin-right: 10px;
}

.nav-dropdown-list-3 {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list-3.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link-3 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link-3:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link-3[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-divider-2 {
  background-color: #e4ebf3;
  width: 1px;
  height: 22px;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-link-accent-2 {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.oportunidade{
  background-color: red;
  width: auto;
}

.margin-top-20{
  margin-top: 20px;
}

.ofertas-content{
  display: flex;
  text-align: center;
  color: #fff;
  font-family: Bitter, serif;
  letter-spacing: 1;
}

.nav-link-accent-2:hover {
  color: #1a1b1fbf;
}

.button-primary-7 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-7:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-7:active {
  background-color: #43464d;
}

.container-43 {
  width: 940px;
  height: 70px;
}

.cell-37 {
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
}

.cell-38 {
  justify-content: center;
  align-items: flex-end;
}

.image-17 {
  width: 270px;
}

.container-44 {
  max-width: 1200px;
  height: 50px;
}

.quick-stack-7 {
  grid-row-gap: 114px;
}

.div-block {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.hero-without-image-4 {
  background-color: #000000ed;
  border-bottom: 0 solid #e4ebf300;
  height: 700px;
  padding: 80px 30px;
  position: relative;
}

.container-45 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper-two-3 {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.margin-bottom-24px-5 {
  margin-bottom: 24px;
}

.button-primary-8 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-8:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-8:active {
  background-color: #43464d;
}

.container-46 {
  width: 1200px;
  max-width: 1200px;
  height: 50px;
}

.quick-stack-8 {
  width: 1200px;
  height: 550px;
}

.cell-39 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.quick-stack-9 {
  width: 500px;
  height: 350px;
}

.cell-40 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.cell-41 {
  justify-content: center;
  align-items: center;
}

.image-18 {
  width: 33px;
  max-width: 100%;
  height: 33px;
}

.heading-29 {
  color: #fff;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: var(--black);
  text-indent: 0;
  justify-content: center;
  align-items: center;
  width: 600px;
  font-family: Montserrat, sans-serif;
  font-size: 70px;
  text-decoration: none;
  display: flex;
}

.heading-30 {
  color: #fff;
  font-family: Montserrat, sans-serif;
  position: static;
}

.paragraph-10 {
  color: #fff;
  justify-content: center;
  align-items: center;
  width: 500px;
  display: flex;
}

.text-span-3 {
  color: red;
  font-size: 70px;
  text-decoration: none;
}

.text-span-4 {
  color: red;
  font-size: 24px;
  font-style: normal;
  text-decoration: none;
  position: relative;
}

.heading-31 {
  color: #fff;
  justify-content: center;
  align-items: center;
  width: 500px;
  display: flex;
}

.heading-32 {
  color: #fff;
  text-align: center;
}

.text-span-5 {
  color: red;
}

.div-block-2 {
  background-color: #fff;
  width: 360px;
  height: 2px;
  position: relative;
  top: 2.6rem;
  left: 5rem;
  z-index: 1000;
}



@media screen and (max-width: 1440px) {
  .hero-without-image {
    width: 100%;
  }

  .submit-button-2 {
    font-family: Montserrat, sans-serif;
  }

  .comp-pane.right {
    width: 600px;
    min-width: 350px;
    max-width: 600px;
    margin-top: -11px;
    margin-left: 0;
  }

  .div-block-2{
    width: 490px;
    right: 0rem;
    left: 1.4rem;
    
  }

  .form-2 {
    margin-top: 13px;
  }

  .container-24 {
    max-width: 1240px;
  }

  .heading-13 {
    width: 1200px;
    font-size: 90px;
  }

  .container-28 {
    justify-content: flex-end;
    align-items: center;
    width: 1200px;
    max-width: 1200px;
    display: flex;
  }

  .cell-5 {
    justify-content: center;
    align-items: flex-end;
  }

  .container-29 {
    width: 1200px;
    max-width: 1200px;
  }

  .hero-subscribe-left {
    background-color: #000;
    border-bottom-width: 0;
  }

  .container-31 {
    text-align: center;
    font-family: Montserrat, sans-serif;
  }

  .heading-16 {
    color: #fff;
  }

  .hero-heading-left {
    background-color: #000;
  }

  .container-33 {
    text-align: center;
  }

  .cell-25 {
    justify-content: center;
    align-items: flex-start;
  }

  .container-34 {
    max-width: 1200px;
  }

  .heading-17 {
    text-align: center;
  }

  .paragraph, .paragraph-2, .paragraph-3, .paragraph-4 {
    color: #fff;
  }

  .paragraph-5, .paragraph-6, .paragraph-7, .paragraph-8 {
    color: #fff;
    text-align: left;
  }

  .container-35 {
    text-align: center;
  }

  .heading-27, .paragraph-9 {
    color: #fff;
  }

  .cell-31 {
    justify-content: center;
    align-items: center;
  }

  .quick-stack-4 {
    margin-top: 50px;
  }

  .button {
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #0f8f64;
    font-size: 12px;
    font-weight: 700;
  }

  .submit-button-3 {
    font-family: Montserrat, sans-serif;
  }

  .form-3 {
    margin-top: 13px;
  }

  .heading {
    width: 500px;
  }

  .quick-stack-8 {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .cell-39 {
    justify-content: flex-start;
    align-items: center;
  }

  .quick-stack-9 {
    width: 650px;
  }

  .cell-40 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: flex-end;
    display: flex;
  }

  .heading-29 {
    width: 500px;
    font-size: 50px;
  }

  .heading-32 {
    text-align: center;
    justify-content: flex-end;
    align-items: center;
    width: 540px;
    font-size: 45px;
    line-height: 50px;
    display: flex;
  }

  .text-span-5 {
    min-width: 500px;
    font-size: 100px;
    display: flex;
  }
}

@media screen and (max-width: 1350px) {
  .hero-without-image {
    background-position: 45%;
    width: 100%;
  }

  .container {
    max-width: 728px;
  }

  .heading-29{
    width: 550px;
  }

  .comp-pane.right {
    width: 600px;
    min-width: 350px;
    max-width: 600px;
    margin-left: 0;
  }

  .container-26 {
    max-width: 728px;
  }

  .nav-menu-wrapper {
    background-color: #0000;
  }

  .nav-menu-two {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px #0000000d;
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .heading-13 {
    width: 940px;
    font-size: 85px;
  }

  .container-27 {
    max-width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .container-28 {
    justify-content: flex-end;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }

  .cell-5 {
    justify-content: center;
    align-items: flex-end;
  }

  .container-29 {
    max-width: 940px;
  }

  .quick-stack-2 {
    width: 931px;
  }

  .container-30 {
    max-width: 728px;
  }

  .hero-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .paragraph-6 {
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .heading-23 {
    text-align: left;
  }

  .heading-24, .heading-25 {
    text-align: left;
    line-height: 20px;
  }

  .heading-26 {
    text-align: left;
  }

  .container-36 {
    max-width: 728px;
  }

  .hero-wrapper-2 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split-2 {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .nav-menu-wrapper-2 {
    background-color: #0000;
  }

  .nav-menu {
    background-color: #fff;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    display: flex;
  }

  .nav-link-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list-2.shadow-three.w--open {
    position: absolute;
  }

  .nav-button-wrapper {
    width: 100%;
    margin-left: 0;
  }

  .menu-button-2 {
    padding: 12px;
  }

  .menu-button-2.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .container-37 {
    max-width: 728px;
  }

  .clients-title {
    margin-bottom: 32px;
  }

  .hero-without-image-2 {
    flex-flow: row;
    display: flex;
  }

  .container-39 {
    max-width: 728px;
  }

  .heading {
    width: 500px;
  }

  .quick-stack-5 {
    grid-column-gap: 57px;
    grid-row-gap: 57px;
  }

  .container-42 {
    max-width: 728px;
  }

  .nav-menu-wrapper-3 {
    background-color: #0000;
  }

  .div-block-2{
    z-index: 1000;
    right: 0rem;
    left: 0rem;
  }

  .nav-menu-two-2 {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px #0000000d;
  }

  .nav-link-3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list-3.shadow-three.w--open {
    position: absolute;
  }

  .menu-button-3 {
    padding: 12px;
  }

  .menu-button-3.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .hero-without-image-4 {
    height: 1250px;
  }

  .container-45 {
    max-width: 728px;
  }

  .container-46, .quick-stack-8, .quick-stack-9 {
    width: 728px;
  }

  .heading-29 {
    margin-left: 40px;
  }

  .heading-32 {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 550px;
    margin-top: 121px;
    display: flex;
  }

  .cell-42 {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .hero-without-image {
    background-position: 35%;
    padding: 60px 15px;
  }

  .comp-pane.right {
    width: 400px;
    max-width: 600px;
    margin-top: 10px;
  }

  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-brand {
    padding-left: 0;
  }
  
  .container-46, .quick-stack-8, .quick-stack-9 {
    width: auto;
  }



  .nav-menu-two {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px #0000000d;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-divider {
    width: 200px;
    max-width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link-accent {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .heading-13 {
    width: 737px;
    font-size: 65px;
  }

  .cell-4 {
    justify-content: center;
    align-items: center;
  }

  .container-27, .container-28, .container-29 {
    width: 737px;
  }

  .quick-stack-2 {
    width: 737px;
    margin-top: -62px;
  }

  .hero-subscribe-left, .hero-heading-left {
    padding: 60px 15px;
  }

  .container-33 {
    width: auto;
  }

  .hero-heading-center, .hero-heading-left-2 {
    padding: 60px 15px;
  }

  .navbar-brand-2 {
    padding-left: 0;
  }

  .nav-menu {
    flex-direction: column;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .nav-link-2 {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown-2 {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list-2.shadow-three {
    box-shadow: 0 8px 50px #0000000d;
  }

  .nav-dropdown-list-2.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list-2.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .mobile-margin-top-11 {
    margin-top: 10px;
  }

  .logos-title-large {
    padding: 60px 15px;
  }

  .clients-wrapper {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: -20px;
  }

  .clients-image {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .hero-without-image-2 {
    flex-flow: row;
    padding: 60px 15px;
    display: flex;
  }

  .hero-without-image-3 {
    padding: 60px 15px;
  }

  .heading {
    width: 300px;
    font-size: 30px;
  }

  .navbar-logo-left-container-2 {
    max-width: 100%;
  }

  .navbar-wrapper-3 {
    flex-flow: column;
  }

  .navbar-brand-3 {
    padding-left: 0;
  }

  .nav-menu-two-2 {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-link-3 {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown-3 {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle-3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list-3.shadow-three {
    box-shadow: 0 8px 50px #0000000d;
  }

  .nav-dropdown-list-3.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list-3.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-divider-2 {
    width: 200px;
    max-width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link-accent-2 {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-12 {
    margin-top: 10px;
  }

  .hero-without-image-4 {
    padding: 60px 15px;
  }

  .heading-29 {
    margin-left: 39px;
  }

  .heading-32 {
    text-align: center;
  }
}

@media screen and (max-width: 658px) {
  .hero-without-image {
    background-position: 0 0;
    width: 100%;
  }

  .div-block-2{
    width: 360px;
    left: 2.5rem;
    top: 1.3rem;
    z-index: 1000;
  }

  .container {
    width: 350px;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }

  .comp-pane.right {
    width: 350px;
    margin-top: 10px;
    padding: 30px 0;
  }

  .form-field-label {
    height: 15px;
  }

  .quick-stack {
    width: 350px;
  }

  .container-23 {
    width: 350px;
    max-width: 350px;
    margin-left: 0;
    margin-right: 0;
  }

  .container-24 {
    width: 350px;
  }

  .container-26 {
    max-width: none;
  }

  .nav-menu-two {
    flex-direction: column;
  }

  .heading-13 {
    width: 350px;
    font-size: 42px;
    line-height: 52px;
  }

  .container-27 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    place-content: center;
    place-items: center stretch;
    width: 350px;
    max-width: 350px;
    margin-left: 13px;
    display: flex;
  }

  .container-28 {
    justify-content: center;
    align-items: center;
    width: 350px;
  }

  .cell-5 {
    justify-content: center;
    align-items: center;
  }

  .container-29 {
    width: 350px;
    margin-left: 0;
    margin-right: 0;
  }

  .quick-stack-2 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 350px;
    max-width: 350px;
    margin-top: 0;
    margin-left: 0;
    padding: 0;
  }

  .container-30 {
    max-width: none;
  }

  .hero-form {
    align-self: stretch;
    margin-bottom: 15px;
  }

  .hero-form-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-form-input {
    width: 100%;
    height: 48px;
    margin-bottom: 10px;
  }

  .container-31 {
    width: 350px;
  }

  .container-32 {
    max-width: 350px;
  }

  .container-33 {
    width: 350px;
  }

  .cell-22, .cell-23, .cell-24 {
    justify-content: center;
    align-items: center;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .container-35 {
    width: 350px;
  }

  .heading-26 {
    text-align: center;
  }

  .cell-26 {
    justify-content: center;
    align-items: center;
  }

  .cell-27 {
    justify-content: flex-end;
    align-items: center;
  }

  .cell-28, .cell-29 {
    justify-content: center;
    align-items: center;
  }

  .image {
    max-width: 100%;
  }

  .image-2 {
    max-width: 100%;
    margin-top: 29px;
  }

  .quick-stack-4 {
    width: 350px;
  }

  .container-36 {
    width: 350px;
    max-width: none;
  }

  .cell-32 {
    justify-content: flex-start;
    align-items: center;
  }

  .cell-33 {
    justify-content: flex-end;
    align-items: center;
  }

  .nav-menu {
    flex-direction: column;
  }

  .nav-button-wrapper {
    width: auto;
  }

  .image-7, .image-8 {
    max-width: 50%;
  }

  .logos-title-large {
    border-bottom-width: 0;
  }

  .container-37 {
    max-width: none;
  }

  .clients-image {
    margin-left: 10px;
    margin-right: 10px;
  }

  .container-38 {
    max-width: 350px;
  }

  .hero-without-image-2 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: row;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-start;
    place-items: flex-start stretch;
    display: flex;
  }

  .container-39 {
    max-width: none;
  }

  .field-wrap-2 {
    width: 325px;
    margin-left: 13px;
  }

  .heading {
    width: 350px;
    margin-top: 0;
    font-size: 25px;
  }

  .container-41 {
    position: relative;
    top: 57px;
  }

  .navbar-logo-left-container-2.shadow-three {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-start;
    align-items: flex-start;
    width: 127px;
    display: flex;
  }

  .container-42 {
    max-width: none;
  }

  .navbar-wrapper-3 {
    flex-flow: column;
  }

  .nav-menu-two-2 {
    flex-direction: column;
  }

  .image-16 {
    text-align: center;
    display: inline-block;
  }

  .cell-37 {
    justify-content: flex-end;
    align-items: flex-start;
  }

  .quick-stack-6 {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-left: 55px;
  }

  .image-17 {
    max-width: 100%;
  }

  .hero-without-image-4 {
    height: 1100px;
  }

  .container-45 {
    max-width: none;
  }

  .container-46 {
    width: 350px;
  }

  .quick-stack-8 {
    width: 350px;
    margin-top: -89px;
  }

  .quick-stack-9 {
    width: 350px;
    margin-top: 0;
  }

  .cell-40 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    align-items: center;
  }

  .heading-29 {
    width: 350px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2rem;
    font-size: 35px;
    position: relative;
    top: -3px;
  }

  .heading-32 {
    width: 350px;
    margin-top: 84px;
    font-size: 30px;
    line-height: 40px;
  }

  .text-span-5 {
    min-width: 340px;
    font-size: 70px;
  }

  .cell-42 {
    justify-content: center;
    align-items: center;
  }

  .cell-43 {
    justify-content: flex-start;
    align-items: flex-end;
  }

  .image-19 {
    max-width: 100%;
  }
}

@media screen and (max-width: 470px){
  .text-span-5{
    min-width: 240px;
    font-size: 50px;
  }
  .heading-29{
    margin-left: 0rem;
  }
  .div-block-2{
    width: 270px;
    left: 2rem;
  }
  .image-17, .image-19{
    max-width: 140%;
  }
}
@media screen and (max-width: 425px){
  .image-17, .image-19{
    max-width: 200%;
  }
  .quick-stack-6{
    position: relative;
    top: 6.4rem;
    right: 5.2rem;
  }
}

@media screen and (max-width: 375px){
  .image-17, .image-19{
    max-width: 300%;
  }
  .quick-stack-6{
    top: 6.4rem;
    right: 4rem;
  }
}

@media screen and (max-width: 365px){
  .heading-29{
    width: 300px;
  }
  .div-block-2{
    width: 220px;
    left: 1.8rem;
  }
  .text-span-5{
    min-width: 200px;
    font-size: 40px;
  }
  .quick-stack-8{
    width: 320px;
    margin-left: -0.9rem;
  }
  .cell-42, .heading-32, .cell-39, .quick-stack-9, .heading, #w-node-e1cddce7-ae20-9970-7ce6-8436284b710f-4693ba78{
    width: 320px;
  }
  .comp-pane.right{
    width: 320px;
    min-width: 320px;
  }
  .w-input{
    width: 98%;
  }
  .field-wrap-2{
    width: 300px;
  }
  .cell-31{
    width: auto;
  }
  .w-container{
    width: 290px;
  }
  .hero-without-image-4{
    width: auto;
  }
  .image-17, .image-19{
    max-width: 600%;
  }
  .quick-stack-6{
    right: 3rem;
  }
  #w-node-e1cddce7-ae20-9970-7ce6-8436284b710f-4693ba78, #w-node-e1cddce7-ae20-9970-7ce6-8436284b710f-4693ba78{
    width: 300px;
  }
  .cell-34, .quick-stack-4{
    width: 310px;
  }
}

@media screen and (max-width: 320px) {
  #w-node-e1cddce7-ae20-9970-7ce6-8436284b710f-4693ba78, #w-node-e1cddce7-ae20-9970-7ce6-8436284b710f-4693ba78{
    width: 300px;
  }
  .cell-39{
    width: 290px;
  }
  .cell-31{
    width: 320px;
  }
  .hero-heading-center{
    width: 310px;
  }
  .cell-34, .quick-stack-4{
    width: 310px;
  }

  .text-span-4{
    font-size: 20px;
  }
  .div-block-2{
    width: 170px;
    left: 2.5rem;
    top: 1.2rem;
  }
  .text-span-5{
    min-width: 0px;
    font-size: 30px;
  }
  .quick-stack-9, .heading-29{
    width: 300px;
  }
}

#w-node-_16055ba9-1998-9787-0a47-8ef2461998a5-4693ba78 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_6dce399b-a3c7-b715-8e9d-f1b947f7416c-4693ba78 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#w-node-_44f4f4aa-952b-98d1-5cd8-7ea1c5c7835c-4693ba78 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_63e8f7d7-c2aa-fd37-6034-ddf029ea0c0f-4693ba78 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#w-node-e1cddce7-ae20-9970-7ce6-8436284b710f-4693ba78 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_81e2dd55-2ef0-f7a1-2d37-07d026511816-4693ba78, #w-node-_11cca9f8-569d-81a7-8220-c08a77d34080-4693ba78, #w-node-_3caba05e-0c54-85fb-fd82-2cfe9747b408-4693ba78, #w-node-_0ccac500-d4c3-3a92-af72-07db5729467e-4693ba78 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_6180150f-6d36-68f0-211e-a42c6bbe784f-4693ba78 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#w-node-_39933e24-fa0f-e69d-c17f-9fb74e6a906c-4693ba78, #w-node-a666152e-86db-76b0-6901-cba74f893e3e-4693ba78 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1440px) {
  #w-node-_6180150f-6d36-68f0-211e-a42c6bbe784f-4693ba78 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-_39933e24-fa0f-e69d-c17f-9fb74e6a906c-4693ba78 {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1350px) {
  #w-node-_44f4f4aa-952b-98d1-5cd8-7ea1c5c7835c-4693ba78, #w-node-a666152e-86db-76b0-6901-cba74f893e3e-4693ba78 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  #w-node-e1cddce7-ae20-9970-7ce6-8436284b710f-4693ba78 {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 658px) {
  #w-node-_44f4f4aa-952b-98d1-5cd8-7ea1c5c7835c-4693ba78 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-e1cddce7-ae20-9970-7ce6-8436284b710f-4693ba78 {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  #w-node-_81e2dd55-2ef0-f7a1-2d37-07d026511816-4693ba78, #w-node-_11cca9f8-569d-81a7-8220-c08a77d34080-4693ba78, #w-node-_3caba05e-0c54-85fb-fd82-2cfe9747b408-4693ba78, #w-node-_0ccac500-d4c3-3a92-af72-07db5729467e-4693ba78 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-_5a62c6e1-6643-8550-ba20-8ad8eb0e9459-4693ba78 {
    grid-row: span 2 / span 2;
  }

  #w-node-_39933e24-fa0f-e69d-c17f-9fb74e6a906c-4693ba78 {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
}
